@page "/Airports/AddAirport"
@inject AirportService _airportService;
@inject NavigationManager _navigationManager;

<h3>Add Airport</h3>

<EditForm Model="@Airport" OnValidSubmit="@AddAirportAsync">
<AirportFields Airport="@Airport"></AirportFields>
    <button type="submit" class="btn btn-success">
    <span class="oi-pencil"></span>
    Add Airport
</button>
<button type="button"  class="btn btn-secondary" @onclick="Close">
    <span class="oi oi-media-skip-backward"></span>
    Close
</button>
</EditForm>

@code {
public Airport Airport { get; set; }

protected override async Task OnInitializedAsync()
    {
        Airport = new Airport();
        Airport.Date = DateTime.Now;
    }

private async Task AddAirportAsync()
    {
        await _airportService.AddAirportAsync(Airport);
        Close();
    }

private void Close()
    {
        _navigationManager.NavigateTo("/Airports");
    }
}

